

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='/css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Chat bot</title>
</head>
<body>
    <div class="center_buttom2">
        <button onclick="location.href='/new_discussion'" class="button2">create a discussion</button>
        <button onclick="location.href='/discussion_list'" class="button2">Load a discussion</button>
    </div>

<script src="../static/js/utils.js">

</script>
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
	   <h3>It is an AI model. Aymen &#169;  </h3>
</div>
</div>
</div>
</div>
</div>


</body>
</html>
